@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  *{
    margin: 0;
    padding: 0
  }
  .button{
    @apply max-w-[200px] pl-[55px] py-4 text-lg font-bold text-[#232536] border-2 w-[204px] h-[56px] border-[#FFD050] bg-[#FFD050];
  }
  
}
.h-screen{
  height:calc(100% - 68px);
 }
.container{
  width:calc(100% - 40px);
  max-width:1440px;
  margin: 0 auto;
}
@media(min-width:768px){
  .container{
    width:calc(100%-60px);
  }
}
@media(min-width:1024px){
  .container{
    width:calc(100%-80px);
  }
}
